.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.body{
    overflow: scroll;
    visibility: hidden;
}

.main_img{
    opacity: 0.5
}

.report1{
    border: 5px dotted rgb(112, 112, 180);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 25px;
    padding-top: 10px;
}

h3{
    font-size: 18px;
    font-family: "Patrick Hand";
    text-decoration: underline;
    letter-spacing: 7px;
    font-weight: bold;
}

a:link{
    color: #d5445f
}

a:visited{
    color: #984685
}

a:hover{
    color: #7c64f4
}

.multi{
    column-count: 5;
    column-gap: 20px;
    column-rule: 1px solid black;
}

ol.contact-list li:hover{
    background-color: #8c8c8c;
}

ol.contact-list li:first-child{
    font-weight: bold;
}

ol.contact-list li:nth-child(3){
    color: #817171;
}

.box{
    background-color: #e0e349;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    transition: transform 0.5s ease;
}

.box:hover{
    transform: scale(1.5) rotate(45deg);
}

.box2{
    background-color: #4ca2a6;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 10px;
}